{% extends "game/main.html" %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="row text-center">
        <div class="col">
            <h1>Vítej, soudruhu!</h1>
            <br>
            <a class="btn btn-success" href="{% url 'login' %}" role="button">Přihlásit se</a>
            <a class="btn btn-danger" href="{% url 'register' %}" role="button">Zaregistrovat se</a>
        </div>
    </div>
</div>

{% endblock content %}